<div class="modal fade" id="modalTargetPCA" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title" id="modalTitlePCA">
        </h4>
        </div>
        <div class="modal-body">
            <div id="selectPCA">
                <div class="form-group">
                    <label for="selectDimensions">Select the number of dimensions to plot:</label>
                    <select class="form-control" id="selectDimensions">
                      <option value="2">Two dimensions (2D)</option>
                      <option value="3">Three dimensions (3D)</option>
                    </select>
                  </div>
            </div>
            <div id="modalContentPCA">
                Calculating PCA
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>