/* Formato de todos los títulos */
.titlePag {
  margin-top: 10px;
  color: #041C34 ;
}

.btn-success {
  color: #fff;
  background-color: #087E8B;
  border-color: #087E8B;
}

.btn-success:hover {
  color: #fff;
  background-color: #044b53;
  border-color: #044b53;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #087E8B;
  border-color: #087E8B;
  box-shadow: 0 0 0 0.2rem #087E8B;
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color:  #087E8B;
  border-color:  #087E8B;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #087E8B;
  border-color: #041C34;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem#087E8B;
}


.preloader {
    align-items: center;
    background: rgb(23, 22, 22);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
  }

  /* Color de las pestañas cuando están activas (el link) */
.nav-link {
  color: #087E8B;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #087E8B;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}


/* Color de las nav-pills */

.nav-pills .nav-link {
  border-radius: 0.25rem;
  color:#087E8B;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #087E8B;
}

/* Color de los link */

.btn-link {
  color: #087E8B;
}

a{
  color: #087E8B;
}

/* mouse over link */
a:hover {
  color: #044b53;
}



/* Color de datatables */

.page-item.active .page-link {
  background-color: #041C34 !important;
  border: 1px solid #087E8B;
}
