
 /* SideBar styles */
 body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

#tittleBar {
  text-align: center;
  display: block;
  height:50px;
}

#topNav {
  height: 50px;
}


/* Color Styles */

.bg-dark {
  background-color: #041C34 !important;
}

.bg-light {
  background-color: #FEFAFD !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #E5E1E4 !important;
}

.menu-hide{
  display: none;
}

.navbar-light{
  background-color:#f7f3f3 !important;
  border-bottom: 1px solid #041C34;
}

.navbar .navbar-nav .nav-link {
  color: #041C34;
  font-size: 1em;
}
.navbar .navbar-nav .nav-link:hover {
  color: #53a1f0;
}
.navbar .navbar-nav .nav-link:visited {
  color: #041C34;
}
.navbar .navbar-nav .nav-link:visited:hover {
  color: #53a1f0;
}

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
  }
}