<div class="examplemiRNA mt-3"  style="display:none;">
    <div class="btn-group btn-group-lg">
        <button type="button" id="loadExMIRNA" name="Example Data" class="btn btn-warning ml-3">Load miRNA Example Data</button>
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modalTestDataMIRNA"><i class="fas fa-solid fa-question" style="color:#f0ad4e;"></i></button>
        <div class="modal fade" id="modalTestDataMIRNA" tabindex="-1" role="dialog" aria-labelledby="modalTestDataMIRNA" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Example Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p>The test dataset for NormSeq corresponds to the mouse tissue samples from the GEO dataset <a href="https://trace.ncbi.nlm.nih.gov/Traces/?study=SRP326090">SRP326090</a>.</p>
                        <p>It consists of the miRNA-sequencing raw counts matrix, of 18 different samples, from 18 different persons belonging to two groups: a. Cancer patients with active Hodking Lymphoma; b. Healthy people.</p>

                        <p>Please, if you use the test dataset, cite the following publication:</p>

                        <p>Drees EEE, Roemer MGM, Groenewegen NJ, Perez-Boza J, van Eijndhoven MAJ, Prins LI, Verkuijlen SAWM, Tran XM, Driessen J, Zwezerijnen GJC, Stathi P, Mol K, Karregat JJJP, Kalantidou A, Vallés-Martí A, Molenaar TJ, Aparicio-Puerta E, van Dijk E, Ylstra B, Groothuis-Oudshoorn CGM, Hackenberg M, de Jong D, Zijlstra JM, Pegtel DM. Extracellular vesicle miRNA predict FDG-PET status in patients with classical Hodgkin Lymphoma. J Extracell Vesicles. 2021 Jul;10(9):e12121. doi: <a href="https://doi.org/10.1002/jev2.12121">10.1002/jev2.12121</a>. Epub 2021 Jul 15. PMID: 34295456; PMCID: PMC8282992.</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group btn-group-lg">
        <a class="btn btn-secondary ml-3" href="https://arn.ugr.es/normSeq/results/?jobID=0O9D29WM3350PSR" role="button">See Example Query</a>
    </div>
</div>
