<div class="exampletRNA mt-3">
    <div class="btn-group btn-group-lg">
        <button type="button" id="loadExTRNA" name="Example Data" class="btn btn-warning ml-3">Load tRNA Example Data</button>
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modalTestDataTRNA"><i class="fas fa-solid fa-question" style="color:#f0ad4e;"></i></button>
        <div class="modal fade" id="modalTestDataTRNA" tabindex="-1" role="dialog" aria-labelledby="modalTestDataTRNA" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Example Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p>The test dataset for NormSeq corresponds to the mouse tissue samples from the GEO dataset <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE141436">GSE141436</a>.</p>                                            
                        <p>It consists of the tRNA-sequencing raw counts matrix, at tRNA isodecoder level, of 21 different samples from seven mouse tissues, derived from the central nervous system (CNS), liver, tibialis and heart mouse tissues.</p>
                        <p>Please, if you use the test dataset, cite the following publication:</p>
                        <p>Pinkard O, McFarland S, Sweet T, Coller J. Quantitative tRNA-sequencing uncovers metazoan tissue-specific tRNA regulation. Nat Commun. 2020 Aug 14;11(1):4104. doi: <a href="https://doi.org/10.1038/s41467-020-17879-x">10.1038/s41467-020-17879-x</a>. PMID: 32796835; PMCID: PMC7428014.</p>
                        
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group btn-group-lg">
        <a class="btn btn-secondary ml-3" href="https://arn.ugr.es/normSeq/results/?jobID=SB0KGI8YDCG6PU5" role="button">See Example Query</a>
    </div>
</div>

