{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}
        {% endblock %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9CY616TD4H"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-9CY616TD4H');
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Cristina Gomez-Martin">
        <!-- <meta name="google-site-verification" content="_gSo6kOKaI0cxmom6Ms2b6mpLiNspPhuASuzBJUfwnk" /> -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png'%}">
        <title>normSeq</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css'%}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/customStyles/stylesBase.css' %}" rel="stylesheet">
        <link href="{% static 'css/customStyles/myStyles.css' %}" rel="stylesheet">

         <!-- To multiselect -->
        <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css"/>

        <!-- Select with search -->
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type="text/css"/>

        <!-- Intro js -->
        <link rel="stylesheet" href="{% static 'tour/introjs.css' %}" type="text/css">


    {% block css %}{% endblock %}


    </head>

    <body onload="showHidenMenu();">

        <nav class="navbar sticky-top navbar-expand-sm navbar-light">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/title_white.png'%}" width="180"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler11"
                aria-controls="navbarToggler11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarToggler11">
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item mt-1">
                        <a href="{% url 'home' %}" class="nav-link">
                            <i class="fas fa-solid fa-user iconsMenu"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item mt-1">
                        <a href="{% url 'query' %}"  class="nav-link">
                            <i class="fas fa-solid fa-cogs iconsMenu"></i>
                            Use NormSeq
                        </a>
                    </li>
                    <li class="nav-item dropdown ml-2 mr-2 mt-1">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-solid fa-book iconsMenu"></i>
                            Help
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" target="_blank" href="https://arn.ugr.es/normseq_doc">Manual</a>
                            <a class="dropdown-item" target="_blank" href="https://arn.ugr.es/normseq_doc/quick/">Quick start</a>
                            <a class="dropdown-item" target="_blank" href="{% url 'tutorial_1' %}">Tour</a>
                          </div>
                    </li>
                    <li class="nav-item ml-2 mr-2 mt-1 ">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#modalCite">
                            <i class="fas fa-solid fa-pen iconsMenu"></i>
                            How to cite
                        </a>
                    </li>
                    <li class="nav-item ml-2 mr-2 mt-1 ">
                        <a href="{% url 'stats' %}"  class="nav-link">
                            <i class="fas fa-database fa-cogs iconsMenu"></i>
                            Statistics
                        </a>
                    </li>
                    <li class="nav-item ml-2 mr-2 mt-1 ">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#modalAboutServer">
                            <i class="fas fa-solid fa-question iconsMenu"></i>
                            About
                        </a>
                    </li>
                    <li class="nav-item mt-1 mr-2">
                        <form action="{% url 'status' %}"> 
                            <div class="btn-group btn-group mr-3" role="group" id="aBtnGroup" aria-label="Basic example">
                                <input type="text" id="jobID" placeholder="Search a Job ID" name="jobID">
                                <input class="btn btn-info btn-sm" type="submit" value="Search">
                            </div>
                        </form> 
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-content-wrapper">

            <div class="modal fade" id="modalAboutServer" tabindex="-1" role="dialog" aria-labelledby="modalAboutServer" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="aboutModalLabel">About</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <h5 class="align-center">This website is free and open to all users and there is no login requirement. </h5>
                            <p>NormSeq is is a freely accessible web-server tool for data normalization, batch-effect correction and differential expression analysis obtained from next generation sequencing platforms such as Illumina or SOLiD. The platform offers multiple visualization options and downloadable output plots and tables.</p>
                            <p>If you use the NormSeq webserver, please cite our publication:<br><br>
                            Chantal Scheepbouwer et al., NORMSEQ: a tool for evaluation, selection and visualization of RNA-Seq normalization methods, Nucleic Acids Research, Volume 51, Issue W1, 5 July 2023, Pages W372–W378,  <a href="https://doi.org/10.1093/nar/gkad429">https://doi.org/10.1093/nar/gkad429</a>
                            </p>
                            <p>Developed by the <a href="http://exosomes.nl">Exosomes Research Group</a> at Cancer Center Amsterdam</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="modalCite" tabindex="-1" role="dialog" aria-labelledby="modalCite" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title">How to cite</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>If you use the NormSeq webserver, please cite our publication:<br><br>
                            Chantal Scheepbouwer et al., NORMSEQ: a tool for evaluation, selection and visualization of RNA-Seq normalization methods, Nucleic Acids Research, Volume 51, Issue W1, 5 July 2023, Pages W372–W378,  <a href="https://doi.org/10.1093/nar/gkad429">https://doi.org/10.1093/nar/gkad429</a>
                            </p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <!-- Page Content -->
        
                {% block content %}{% endblock %}
                {% block modals %}{% endblock %}
                    
                    
            </div>
        </div>

        <!-- Bootstrap core JavaScript -->

        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

        <!-- Datatables -->
        <script src="{% static 'js/demo/datatables-demo.js'%}"></script>
        <script src="{% static 'vendor/datatables/jquery.dataTables.js'%}"></script>
        <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js'%}"></script>


        <script>
            function showHidenMenu(){
                document.getElementById("menu-hide").style.display= "block" ;
            }
        </script>

        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

        <!-- To multiselect -->
        <script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>

        <!-- To interactive select-->
        <script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>


        <script>
            jQuery(function($) {

                checkCookie_eu();

                function checkCookie_eu(){
                    var consent = getCookie_eu("cookies_consent");

                    if (consent == null || consent == "" || consent == undefined)
                    {
                   // show notification bar
                    $('#cookie_directive_container').show();
                    }

                }

                function setCookie_eu(c_name,value,exdays)
                {

                    var exdate = new Date();
                    exdate.setDate(exdate.getDate() + exdays);
                    var c_value = escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
                    document.cookie = c_name + "=" + c_value+"; path=/";

                    $('#cookie_directive_container').hide('slow');
                }


                function getCookie_eu(c_name)
                {
                    var i,x,y,ARRcookies=document.cookie.split(";");
                    for (i=0;i<ARRcookies.length;i++)
                    {
                        x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
                        y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
                        x=x.replace(/^\s+|\s+$/g,"");
                        if (x==c_name)
                        {
                            return unescape(y);
                        }
                    }
                }

                $("#cookie_accept a").click(function(){
                    setCookie_eu("cookies_consent", 1, 30);
                });

            });
        </script>

        {% block js %}{% endblock %}
    </body> 
  </html>