{% extends "base.html" %}
{% load static %}
{% block css %}
<link href="{% static 'css/customStyles/stylesIndex.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="menu-hide" id="menu-hide">
        <div class="d-flex justify-content-center mt-5 mb-5">
            <img width="60%" src="{% static 'images/titleBig.png'%}">
        </div>
        <div class="row mt-5">
            <div class="col-6">
                <div class="ml-3 mr-3 mt-5" style="font-size:22;">
                    <h5>NormSeq is a freely accessible web-server for data normalization, batch-effect correction and differential expression analysis of RNA-seq data.
                        <br>
                        The platform offers six normalization methods and comparison between them, together with multiple visualization options and downloadable outputs.
                    </h5>
                    <div class="row mt-5">
                        <div class="col-2"></div>
                        <div class="col-4">
                            <div class="buttonIndex">
                                <a href="{% url 'query' %}" ><button id="buttonQuery" class="btn btn-success btn-lg " onclick="ShowLoading()">Try it!</button></a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="buttonIndex">
                                <a href="{% url 'tutorial_1' %}" target="_blank"><button id="buttonTutorial" class="btn btn-warning btn-lg " onclick="ShowLoading()"><b>Quick Start Tour</b></button></a>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img width="100%" src="{% static 'images/graphicalAbstract_notitle_reduced.png'%}"> 
            </div>
        </div>
        <br>
        
        <div class="alert text-center cookiealert" role="alert">
            This website is free and open to all users and there is no login requirement. This site does not use cookies to track your behaviour or keep any personal data.
        
            <button type="button" class="btn btn-primary btn-sm acceptcookies">
                I agree
            </button>
        </div>
    </div>

{% endblock %}

{% block js %}  
<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>

{% endblock %}
