{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'css/customStyles/stylesMirna.css'%}" rel="stylesheet">
{% endblock %}

{% block modals %}
    {% include "modals/mirna/modal_plots.html" %}
    {% include "modals/mirna/modal_pca.html" %}
{% endblock %}

{% block content %}

    <div id="page-wrapper" class="resultsPage">
        {% if error %}
            {% include "querySNP/error.html" %}
        {% endif %}

        <div class="row">
            <div class="col-9">
                <h2>Results for Job ID <a href="{% url 'status' %}/?jobID={{ jobID }}">{{ jobID }}</a></h2>

                <div class="menu-hide" id="menu-hide">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true"><h5>Summary</h5></a>
                        </li>
                        {% if visualization %}
                        <li class="nav-item">
                            <a class="nav-link" id="visualization-tab" data-toggle="tab" href="#visualization" role="tab" aria-controls="visualization" aria-selected="false"><h5>Visualization</h5></a>
                        </li>
                        {% endif %}
                        {% if normalization %}
                        <li class="nav-item">
                            <a class="nav-link" id="normalization-tab" data-toggle="tab" href="#normalization" role="tab" aria-controls="normalization" aria-selected="false"><h5>Normalized data</h5></a>
                        </li>
                        {% endif %}
                    </ul>
            
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active tabResult" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                            {% include "mirna/summary.html" %}
                        </div>
                        {% if visualization %}
                        <div class="tab-pane fade tabResult" id="visualization" role="tabpanel" aria-labelledby="visualization-tab">
                            {% include "mirna/visualization.html" %}
                        </div>
                        {% endif %}
                        {% if normalization %}
                        <div class="tab-pane fade tabResult" id="normalization" role="tabpanel" aria-labelledby="normalization-tab">
                            {% include "mirna/normalization.html" %}
                        </div>
                        {% endif %}
                    </div>
                </div>



            </div>
            <div class="col-3">
                <div class="card">
                    <h5 class="card-header" id="info">INFO</h5>
                    <div class="card-body">
                        <b>Job ID:</b> {{ jobID }}
                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}
{% block js %}

<!-- This script enables link to tabs-->
<script>

    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
    }
    
    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    })

    $(document).ready(function()
    {
        $("#loadpage").hide();
        $('#divPageContent').css("visibility", "visible");
    });
  
</script>

<!-- Modal plot -->
<script>
    $('.modalPlot').on('click', function (e) {
        title = this.title;
        url = this.name;

        $.ajax({
             url: '{% url "ajax_plot" %}',
             data: {
                 "url" : url
             },
             dataType: 'json',
            success: function (dataE) {
                $("#modalContent").html(dataE.plot);
                $("#modalTitle").html(title);
            }
        });
    });
  
</script>

<!-- Modal plot PCA -->
<script>
    $('.modalPlotPCA').on('click', function (e) {
        title = this.title;
        url = this.name;
        
        $.ajax({
             url: '{% url "ajax_plot" %}',
             data: {
                 "url" : url
             },
             dataType: 'json',
            success: function (dataE) {
                $("#modalContentPCA").html(dataE.plot);
                $("#modalTitlePCA").html(title);
            }
        });
    });
  
</script>

<!-- On change of number of dimensions, change plot -->
<script>
    $('#selectDimensions').change(function(){ 
        valor = this.value;
        url = this.name;
        if (valor == "3"){
            url = url.replace('.html', '_3D.html');
        }
        if (valor == "2"){
            url = url.replace('_3D.html', '_3D.html');
        }

        $.ajax({
            url: '{% url "ajax_plot" %}',
            data: {
                "url" : url
            },
            dataType: 'json',
            success: function (dataE) {
                $("#modalContentPCA").html(dataE.plot);
            }
        });
    });



    $('.modalPlotPCA').on('click', function (e) {
        title = this.title;
        url = this.name;
        const $select = document.querySelector('#selectDimensions');
        $select.value = '2';

        $.ajax({
             url: '{% url "ajax_plot" %}',
             data: {
                 "url" : url
             },
             dataType: 'json',
            success: function (dataE) {
                $("#modalContentPCA").html(dataE.plot);
                $("#modalTitlePCA").html(title);
                document.getElementById("selectDimensions").setAttribute("name",url);
            }
        });
    });
  
</script>
{% endblock %}

