{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'css/customStyles/stylesQuery.css'%}" rel="stylesheet">
{% endblock %}

{% block modals %}
    {% include "modals/query/chooseInput.html" %}
    {% include "modals/query/chooseMethod.html" %}
    {% include "modals/query/uploadAnnotation.html" %}
    {% include "modals/query/chooseAnnotation.html" %}
    {% include "modals/query/chooseParameters.html" %}
{% endblock %}

{% load crispy_forms_tags %}    

{% block content %}

<div class="menu-hide" id="menu-hide">
    <div class="d-flex justify-content-center mt-3">
        <img id="titleIndex" width="40%" src="{% static 'images/titleBig.png'%}">
    </div>
    
    <hr>
    <div class="row">
        <div class="col-md-11"style="float:none;margin:auto;">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <div class="btn-group btn-group-lg mr-3" role="group" id="aBtnGroup" aria-label="Basic example">
                            <button type="button" value="miRNA" name="miRNA" class="btn btn-info">miRNA</button>
                            <button type="button" value="mRNA" name="mRNA" class="btn btn-info">mRNA</button>
                            <button type="button" value="tRNA" name="tRNA" class="btn btn-info">tRNA</button>
                            <button type="button" value="feature" name="Other" class="btn btn-info">Other</button>
                        </div>
                        {% include 'query/exampletRNA.html' %}
                        {% include 'query/examplemiRNA.html' %}
                        <h5 id="ExampleLoaded" class="mt-2" style="color:#041C34;"></h5>
                    </div>
                    <h3 id="selectedRNA">
                    </h3>
                    <br>
                    <div id="formMirna" style="display:block;">
                        {% crispy form %}
                    </div>
                </div>
            </div>
            <div class='form-group'>
            </div>  
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script>
    $(document).ready(
        function() {
              // Get click event, assign button to var, and get values from that var
                $('#aBtnGroup button').on('click', function() {
                    document.getElementById("resetForm").click();
                    var thisBtn = $(this);
                    
                    thisBtn.addClass('active').siblings().removeClass('active');
                    var btnValue = thisBtn.val();
                    if (btnValue=='tRNA'){
                        document.querySelectorAll('.exampletRNA').forEach(function(el) {
                            el.style.display = 'block';
                            });
                        document.querySelectorAll('.examplemiRNA').forEach(function(el) {
                            el.style.display = 'none';
                            });
                    }
                    else if (btnValue=='miRNA'){
                        document.querySelectorAll('.exampletRNA').forEach(function(el) {
                            el.style.display = 'none';
                            });
                        document.querySelectorAll('.examplemiRNA').forEach(function(el) {
                            el.style.display = 'block';
                            });

                    }
                    else{
                        document.querySelectorAll('.exampletRNA').forEach(function(el) {
                            el.style.display = 'none';
                            });
                        document.querySelectorAll('.examplemiRNA').forEach(function(el) {
                            el.style.display = 'none';
                            });

                    }

                    
                    if (btnValue=="feature") {
                        var name = "Other"
                    }
                    else{
                        var name = btnValue;
                    }
                    // document.getElementById("RNAselected").innerHTML = "<b>RNA class: </b>"+name;
                    document.getElementById("selectedRNA").innerHTML = name;
                    document.getElementById("id_typeJob").value = btnValue;

                }); 
                $('#aBtnGroup button[value="tRNA"]').click();
    });
    
</script>


<script>
    $(document).ready(
        function() {
            var jobIDValue = document.getElementById("id_jobID");
            jobIDValue.value = "{{ jobID }}";
            document.getElementById("divFileBatch").style.display="none";
        });

</script>

<!-- Load example data -->
<script type="text/javascript">
    $('#loadExTRNA').on('click', function(){
        $('#aBtnGroup button[value="tRNA"]').click();
        $('#id_url').val("https://arn.ugr.es/normSeq/static/testFiles/exampleTrna.txt");
        $('[href="#url"]').tab('show');
        $('#id_annotationURL').val("http://arn.ugr.es/normSeq/static/testFiles/annotationTrna.txt");
        $('[href="#annotation_url"]').tab('show');
        var ele=document.getElementsByName('methods');  
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox'){
                        ele[i].checked=true;
                    }
                    
                }     
        document.getElementById("ExampleLoaded").innerHTML = "Example data was loaded";
        document.getElementById("alertRUV").style.display="block";

   });
   $('#loadExMIRNA').on('click', function(){
        $('#aBtnGroup button[value="miRNA"]').click();
        $('#id_url').val("https://arn.ugr.es/normSeq/static/testFiles/exampleMirna.txt");
        $('[href="#url"]').tab('show');
        $('#id_annotationURL').val("http://arn.ugr.es/normSeq/static/testFiles/annotationMirna.txt");
        $('[href="#annotation_url"]').tab('show');
        var ele=document.getElementsByName('methods');  
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox'){
                        ele[i].checked=true;
                    }
                    
                }     
        document.getElementById("ExampleLoaded").innerHTML = "Example data was loaded";

   });
   
</script>

<script>
    $('#div_id_methods').change(function(){ 
        var ddl = document.getElementById("div_id_methods");
        var ele=document.getElementsByName('methods');
        for(var i=0; i<ele.length; i++){  
            if(ele[i].type=='checkbox'){
                if (ele[i].value=="RUV"){
                    if (ele[i].checked==true){
                        document.getElementById("alertRUV").style.display="block";
                    }
                    else{
                        document.getElementById("alertRUV").style.display="none";
                    }
                }
            }
                    
        }     
    });        
</script>



<script>
    $('#id_batchEffect').change(function(){ 
            valor = this.value;
            if (valor == 'True'){
                document.getElementById("divFileBatch").style.display="block";
            }
            if (valor == 'False' ){
                document.getElementById("divFileBatch").style.display="none";
            }
            
        });
</script>

<script>
    $('.select-all').click(function(){
        var ele=document.getElementsByName('methods');  
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox')  
                        ele[i].checked=true;  
                }  
    });
    $('.deselect-all').click(function(){
        var ele=document.getElementsByName('methods');  
        for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox')  
                        ele[i].checked=false;  
                }
            });
    $('.resetbtn').click(function(){
        document.getElementById("ExampleLoaded").innerHTML = "";
            });
</script>

{% endblock %}