{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'css/customStyles/stylesResults.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="page-wrapper" class="resultsPage">
        {% if error %}
            {% include "querySNP/error.html" %}
        {% endif %}

        <div class="row">
            <div class="col-9">
                Your job with ID {{ jobID }} with {{ typeJob }} data is now {{ status }}
            </div>
            <div class="col-3">
                <div class="card">
                    <h5 class="card-header" id="info">INFO</h5>
                    <div class="card-body">
                        <b>Job ID:</b> {{ jobID }}
                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}
{% block js %}

<script>
    $(document).ready(
        function() {
            setTimeout(function(){
            window.location.reload(1);
            }, 5000);
        });

</script>

{% endblock %}

