{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'css/customStyles/stylesResults.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="page-wrapper" class="resultsPage">
        {% if error %}
            {% include "querySNP/error.html" %}
        {% endif %}

        <div class="row">
            <div class="col-9">
                <h2>Status of Job ID <a href="{% url 'status' %}/?jobID={{ jobID }}">{{ jobID }}</a></h2>
                <p>
                    Your job with ID {{ jobID }} with {{ typeJob }} data is now {{ status }}
                </p>
                <p>
                    You can <a id="bookmarkt" href="{% url 'status' %}/?jobID={{ jobID }}"><i class="fas fa-fw fa-bookmark"></i>bookmark this page</a>
                </p>

            </div>
            <div class="col-3">
                <div class="card">
                    <h5 class="card-header" id="info">INFO</h5>
                    <div class="card-body">
                        <b>Job ID:</b> {{ jobID }}
                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}
{% block js %}


<script>
    // Refresh every 5 seconds to see if there is results

    $(document).ready(
        function() {
            setTimeout(function(){
            window.location.reload(1);
            }, 10000);
        });

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- To save bookmarks -->
<script>
    $("#bookmarkt").click(function () {
    var url = 'https://' + location.host; // i'm in a sub-page and bookmarking the home page
    var name = "normSeq results {{ jobID }}";

    if (navigator.userAgent.toLowerCase().indexOf('chrome') > -1){ //chrome
        alert("Please to bookmark press " 
            + (navigator.userAgent.toLowerCase().indexOf('mac') != -1 ? 
                'Command/Cmd' : 'CTRL') + "+D.")
    } 
    else if (window.sidebar) { // Mozilla Firefox Bookmark
        //important for firefox to add bookmarks - remember to check out the checkbox on the popup
        $(this).attr('rel', 'sidebar');
        //set the appropriate attributes
        $(this).attr('href', url);
        $(this).attr('title', name);

        window.sidebar.addPanel('', '', '');
    } 
    else if (window.external) { // IE Favorite
            window.external.addFavorite(url, name);
    } 
    return;
});

</script>

{% endblock %}

