{% extends "modals/modal_template.html" %}
{% block id %}Choose_Annotation{% endblock %}
{% block title %}
    Annotation
{% endblock %}
{% block text %}
<p>The annotation file  can be directly uploaded or provided as an URL link in <i>.txt/.csv/.tsv/.xls</i> formats:</p>
<ul>
    <li>Upload a file containing two columns and a number of rows that matches sample number (typically .txt/.csv/.tsv/.xls)</li>
    <li>Provide a link/URL with your data (it will be downloaded and then analyzed) </li>
    <li>Annotate column 1 as sample, annotate column to as group</li>
    <li>List sample names under “sample” and assign the different groups under “groups”</li>
</ul>
{% endblock %}